.thumbcontainer
  .thumb
    a(href="#{thumb.id}",title="#{thumb.title1} - #{thumb.title2}")
      img(src="#{thumb.thumb}",alt="#{thumb.title1} - #{thumb.title2}")
  .comment
    h2= thumb.title1
    | #{thumb.title2}

