.thumbcontainer
  .thumb
    a(href="#{thumb.file}",title="#{thumb.data.title}")
      img(src="#{thumb.thumb}",alt="#{thumb.data.title}")
  .comment
    h2= thumb.data.title
    | #{thumb.data.title}

